@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap');


body {
    color: white;
    font-family: rubik;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px) brightness(0.6);
    transition: background-image 6s;
    background-position: 50%;
}

#main {
    position: relative;
    height: 90vmin;
    width: 160vmin;
    display: flex;
    gap: 0;
    border: 12px solid rgba(209, 209, 209, 0.5);
    border-radius: 10px;
  }
  
  #mainOverlay {
    transition: background-image 6s;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: brightness(0.6);
    z-index: -1; 
  }

#left-section {
    background-color: rgba(122, 122, 122, 0.2);
    backdrop-filter: blur(5px);
    border-right: 2px solid rgba(209, 209, 209, 0.5);
    width: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 20px 0;
}
#wind {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 200;
}
#wind svg {
    width: 20px;
}
#current-temp {
    font-size: 4.5rem;
    font-weight: 500;
    margin: 17px 0 0 0;
}
#wind-velocity {
    margin: 0;
}
#current-weather {
    text-align: center;
}
#current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#searchbar {
    margin: 0 auto;
}
#location {
    outline: none;
    width: 215px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    padding: 0 10px;
    color: rgb(192, 191, 191);
    border: 2px solid rgba(209, 209, 209, 0.5)
}
#location:active {
    border: 2px solid rgba(233, 233, 233, 0.5);
    outline: none
}
#location::placeholder {
    color: rgb(137, 137, 137);
}
#forecast-days-container {
    border-top: 1px solid white;
    width: 240px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#forecast-days-container > h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 30px 0;
}

#forecast-days {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.forecast-day {
    display: flex;
    align-items: center;
    font-weight: 300;
    width: 230px;
    gap: 5px;
    margin-right: 5px;
}
.forecast-temp {
    margin-left: auto;
    border-left: 1px solid white;
    padding-left: 8px;
    width: 30px;
}
.forecastDay-icon {
    width: 50px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.3);
}

#right-section {
    width: calc(160vmin - 285px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    padding: 35px 30px 15px 30px;
}
#date-time {
    margin-bottom: auto;
    font-size: 1.1rem;
    display: flex;
    gap:8px;
}
#time {
    padding-right: 8px;
    border-right: 2px solid rgba(209, 209, 209, 0.5);
}
#track-container {
    overflow-x: hidden;
    overflow-y: visible;
    height: 160px;
    display: flex;
    align-items: center;
}
#forecast-today {
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateX(0);
}
#condition {
    font-size: 4rem;
    font-weight: 400;
    border-bottom: 2px solid rgba(209, 209, 209, 0.5);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.hourContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(162, 162, 162, 0.096);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    user-select: none;
    width: 90px;
    transition: 250ms;
}
.hourContainer:hover {
    transform: scale(1.05);
}
.forecast-hour {
    margin: 10px;
    width: 50px;
    text-align: center;
    border-bottom: 1px solid rgba(209, 209, 209, 0.5);
    padding-bottom: 5px;
    font-size: 1.1rem;
}
.hourTemp {
    margin: 5px 0 12px 0;
    font-size: 1.2rem;
}
.hourConditionIcon {
    width: 50px;
    aspect-ratio: 1 / 1;
    background-color: rgba(128, 128, 128, 0.104);
    border-radius: 5px;
    user-select: none;
}
.forecast-max, .forecast-min {
    text-align: center;
}

@media (max-width: 1160px) {
    html {
        font-size: 14px
    }
    #main {
        width: 140vmin;
        height: 80vmin;
    }
    #forecast-days {
        gap: 10px;
    }
    .forecast-day {
        width: 200px;
    }
}
@media (max-width: 930px){
    html {
        font-size: 12px
    }
    #main {
        width: 120vmin;
        height: 80vmin;
    }
    #left-section {
        width: 270px;
    }
    #right-section{
        width: calc(120vmin - 270px);
    }
    #forecast-days {
        gap: 10px;
    }
    .forecast-day {
        width: 200px;
    }
}
@media (max-width: 810px){
    html {
        font-size: 12px
    }
    #main {
        width: 90vmin;
        height: 90%;
        flex-direction: column;
    }
    #left-section {
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 20px 10px 50px;
        border: 0;
    }
    #right-section{
        width: 100%;
        height: 500px;
        box-sizing: border-box;
    }
    #location {
        width: 180px;
    }
    #searchbar {
        position: absolute;
        top: 10px;
        left: 35px;
    }
    #forecast-days {
        gap: 5px;
    }
    #forecast-days-container{
        border: 0;
        border-left: 1px solid white;
    }
    #forecast-days-container > h2{
        display: none;
    }
    .forecast-day {
        width: 200px;
    }
    .forecastDay-icon {
        width: 25px;
    }
}
@media (max-width: 540px){
    html {
        font-size: 11px
    }
    #main {
        width: 90vmin;
        height: 90%;
        flex-direction: column;
    }
    #left-section {
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0 10px 30px;
        border: 0;
    }
    #right-section{
        width: 100%;
        height: 500px;
        box-sizing: border-box;
    }
    #location {
        width: 180px;
    }
    #searchbar {
        position: absolute;
        top: 10px;
        left: 20px;
    }
    #forecast-days {
        gap: 5px;
    }
    #forecast-days-container{
        border: 0;
        width: 220px;
        padding-left: 20px;
    }
}
@media (max-width: 460px){
    html {
        font-size: 11px
    }
    #main {
        width: 300px;
        height: 550px;
        flex-direction: column;
        overflow: hidden;
    }
    #mainOverlay {
        display: none;
    }
    #current-temp {
        font-size: 5.5rem;
    }
    #left-section {
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        border: 0;
    }
    #right-section{
        width: 100%;
        height: 500px;
        box-sizing: border-box;
    }
    #location {
        width: 180px;
        margin: auto;
    }
    #searchbar {
        position: relative;
        top: 0;
        left: 0;
    }
    #forecast-days {
        gap: 5px;
    }
    #forecast-days-container{
        display: none;
    }
    .hourContainer {
        height: 90px;
        width: 60px
    }
    .hourConditionIcon {
        width: 30px;
    }
}